/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 12, 2016
    Author     : Robin
*/

body {
    background: #E8F0FE;
    padding-top: 70px;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*.jumbotron {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}*/

#jumbotron_question {
    min-height: 100px;
    font-size: 24px;
}

#jumbotron_answer{
    min-height: 200px;
    font-size: 18px;
}
/*
.button_emotion img{
    display: block;
    height: 100px;  
    width: 100px;
}

.button_form {
    min-width: 100px;
    min-height: 100px;
}
*/


/*.navbar-default { 
    background-color: #337ab7;
    border-color: #E7E7E7;
    color: #fff;
}*/

.glyphicon-user{
    font-size: 50px;
    float: right;
    position: absolute;
    right: 1px;
}

nav.ul{
    float: right;
}