/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 12, 2016
    Author     : Robin
*/
#div1 {
    width: 100%;
    height: 80px;
    border: 1px solid #aaaaaa;
}
#drag{
    font-size: 12px;
}



body {
    background: rgb(233, 234, 237) !important;
    padding-top: 70px;
}

#container_resident {
    margin-left: auto;
    margin-right: auto;
    width: auto !important;
}

.jumbotron {
    font-family: 'Roboto', sans-serif;
}

#jumbotron_question {
    font-size: 24px;
}

.disableClick{
    pointer-events: none;
}

#jumbotron_answer{
    font-size: 18px;
}

#col_btn {

}

#button_emotion img{

}

#progress_col{
    /*transform: translateY(100%);*/
}
table{

}

@media(min-width:768px) {


}
.btn-raised{
    white-space: normal !important;
}
.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
    /*background-color: #3f51b5 !important;*/
}

btn:active{
    border: none;
}

.navbar, .navbar.navbar-default{
    background-color: #512DA8 !important;
}


.btn-blue{
    background-color: #673AB7 !important;
}
.tlScale{
    font-size:2.5vmax !important;
}

.txScale{
    font-size: 1.75vmax !important;
}
/*nav.ul{
    float: right;
}*/

video.webcam {
	/* mirror video */
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
