/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 12, 2016
    Author     : Robin
*/

.container{
    /* I apologise for the looks, just testing some stuff */
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

.card {
    background: white;
    text-align: center;
    /*width: 200px;*/
    margin-top: 10px;
    margin-right: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 6px rgba(0,0,0,0.05);
    transition: .4s;
    /*-webkit-transition: .4s;*/
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
}

#card_question {
    min-height: 100px;
    font-size: 24px;

}

#card_answer{
    min-height: 200px;
    font-size: 18px;

}

.button_emotion img{
    display: block;
    height: 100px;  
    width: 100px;
}

.navbar-default .navbar-brand { 
    background-color: #3358b7;
    border-color: #E7E7E7;
    color: #fff;
}

.navbar-default { 
    background-color: #337ab7;
    border-color: #E7E7E7;
    color: #fff;
}

.glyphicon-user{
    font-size: 50px;
    float: right;
}

nav.ul{
    float: right;
}